body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #434242;
}

header {
    background-color: hsl(203, 68%, 11%);
    color: rgb(185, 175, 175);
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 2rem;
    padding: 2rem;
    background-color: #bae6e3c6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel .prev, .carousel .next {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.carousel-content {
    display: flex;
    overflow: hidden;
}

.project {
    min-width: 300px;
    margin: 0 1rem;
    background-color: #bae6e3c6;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin-top: 2rem;
}

footer .social-media a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}
